<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiza - dropdown</title>

    <!-- Bootstrap -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <script src="./assets/plugins/bootstrap/bootstrap.bundle.min.js"></script> -->

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/nevenpalcec/hiza_js/hiza/components/hiza.dropdown.css">

    <!-- JS -->
    <!-- <script src="./assets/js/hiza-dropdown.js"></script> -->
    <script src="https://cdn.jsdelivr.net/gh/nevenpalcec/hiza_js/hiza/components/hiza.dropdown.js"></script>

    <!-- Hiža -->
    <script src="https://cdn.jsdelivr.net/gh/nevenpalcec/hiza_js/hiza/engine/hiza.engine.js"></script>

</head>

<body>

    <div class="container h-100">

        <!-- Hiza dropdown -->
        <div class="mb-5">

            <h3 class="pt-3 pb-1">Hiza - dropdown</h3>

            <div id="dropdown_example" class="hiza_dropdown">
                <button class="hiza_dropdown-btn hiza_dropdown-toggle" type="button" style="max-width: 13rem;"
                    data-value="02">Select example</button>
                <ul class="hiza_dropdown-menu hidden">
                    <li class="hiza_dropdown-item" data-value="01">Example 01</li>
                    <li class="hiza_dropdown-item" data-value="02">Example 02</li>
                    <li class="hiza_dropdown-item" data-value="03">Example 03</li>
                </ul>
            </div>

        </div>

        <!-- Hiza dropdown country -->
        <div class="mb-5">

            <h3 class="pt-3 pb-1">Hiza - dropdown country</h3>

            <div id="dropdown_example_country" class="hiza_dropdown icon">
                <button class="hiza_dropdown-btn hiza_dropdown-toggle" type="button" style="max-width: 13rem;" data-value="02">Select example</button>
                <ul class="hiza_dropdown-menu hidden">

                    <!-- Normal click to put no country on btn -->
                    <li class="hiza_dropdown-item" data-value="">
                        <div class="hiza_dropdown-img"></div>
                        <div class="hiza_dropdown-label">No Country</div>
                    </li>
                
                    <!-- List -->
                    <li class="hiza_dropdown-item" data-value="hr">
                        <div class="hiza_dropdown-icon"><img src="https://raw.githubusercontent.com/nevenpalcec/hiza_js/main/hiza/components/demos/assets/icons/flags/hr.svg" alt="icon"></div>
                        <div class="hiza_dropdown-label">Croatia</div>
                    </li>
                    <li class="hiza_dropdown-item" data-value="at">
                        <div class="hiza_dropdown-icon"><img src="https://raw.githubusercontent.com/nevenpalcec/hiza_js/main/hiza/components/demos/assets/icons/flags/at.svg" alt="icon"></div>
                        <div class="hiza_dropdown-label">Austria</div>
                    </li>
                    <li class="hiza_dropdown-item" data-value="de">
                        <div class="hiza_dropdown-icon"><img src="https://raw.githubusercontent.com/nevenpalcec/hiza_js/main/hiza/components/demos/assets/icons/flags/de.svg" alt="icon"></div>
                        <div class="hiza_dropdown-label">Germany</div>
                    </li>
                </ul>
            </div>

        </div>

        <!-- Hiza dropdown search -->
        <div class="mb-5">
        
            <h3 class="pt-3 pb-1">Hiza - dropdown search</h3>
        
            <div id="dropdown_example_search" class="hiza_dropdown country search" style="max-width: 16rem;">
                <button class="hiza_dropdown-btn hiza_dropdown-toggle" type="button">
                    <input type="text" class="hiza_dropdown-input" data-value="">
                    <div class="hiza_dropdown-box">
                        Search
                    </div>
                </button>
                <ul class="hiza_dropdown-menu hidden">
                
                    <!-- Only text no country -->
                    <li class="no_result hidden" data-value="">No country</li>
                
                    <!-- Normal click to put no country on btn -->
                    <li class="hiza_dropdown-item" data-value="">
                        <div class="hiza_dropdown-label">No Country</div>
                    </li>
                
                    <!-- List -->
                    <li class="hiza_dropdown-item" data-value="zg">
                        <div class="hiza_dropdown-label">Zagreb</div>
                    </li>
                    <li class="hiza_dropdown-item" data-value="ka">
                        <div class="hiza_dropdown-label">Karlovac</div>
                    </li>
                    <li class="hiza_dropdown-item" data-value="si">
                        <div class="hiza_dropdown-label">Šibenik</div>
                    </li>
               
                </ul>
            </div>
        
        </div>

        <!-- Hiza dropdown country with search -->
        <div class="mb-5">

            <h3 class="pt-3 pb-1">Hiza - dropdown icon with search</h3>

            <div id="dropdown_example_country_search" class="hiza_dropdown icon search" style="max-width: 16rem;">
                <button class="hiza_dropdown-btn hiza_dropdown-toggle" type="button">
                    <input type="text" class="hiza_dropdown-input" data-value="hr">
                    <div class="hiza_dropdown-box">
                        Search country
                    </div>
                </button>
                <ul class="hiza_dropdown-menu hidden">

                    <!-- Only text no country -->
                    <li class="no_result hidden" data-value="">Not found</li>

                    <!-- Normal click to put no country on btn -->
                    <li class="hiza_dropdown-item" data-value="">
                        <div class="hiza_dropdown-label">No Country</div>
                    </li>

                    <!-- List -->
                    <li class="hiza_dropdown-item" data-value="hr">
                        <div class="hiza_dropdown-icon"><img src="https://raw.githubusercontent.com/nevenpalcec/hiza_js/main/hiza/components/demos/assets/icons/flags/hr.svg" alt="icon"></div>
                        <div class="hiza_dropdown-label">Croatia</div>
                    </li>
                    <li class="hiza_dropdown-item" data-value="at">
                        <div class="hiza_dropdown-icon"><img src="https://raw.githubusercontent.com/nevenpalcec/hiza_js/main/hiza/components/demos/assets/icons/flags/at.svg" alt="icon"></div>
                        <div class="hiza_dropdown-label">Austria</div>
                    </li>
                    <li class="hiza_dropdown-item" data-value="de">
                        <div class="hiza_dropdown-icon"><img src="https://raw.githubusercontent.com/nevenpalcec/hiza_js/main/hiza/components/demos/assets/icons/flags/de.svg" alt="icon"></div>
                        <div class="hiza_dropdown-label">Germany</div>
                    </li>

                </ul>
            </div>

        </div>

        <!-- Example dropdown -->
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div> -->

    </div>

    <script>

        // Initialize dropdown
        var dd1 = hiza.dropdown.init('#dropdown_example');
        var dd2 = hiza.dropdown.init('#dropdown_example_country');
        var dd3 = hiza.dropdown.init('#dropdown_example_search');
        var dd4 = hiza.dropdown.init('#dropdown_example_country_search');

    </script>

</body>

</html>